<!-- Modal -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="confirmation-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="px-4 pt-4 d-flex w-100 justify-content-between">
        <h1 class="modal-title" id="confirmationModalLabel">Title</h1>
        <button type="button" class="btn-close my-auto" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4">
        Hello
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" id="cancel-button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" data-bs-dismiss="modal">Delete</a>
      </div>
    </div>
  </div>
</div>