<!-- Modal -->
<div class="modal fade" id="eventDetailModal" tabindex="-1" aria-labelledby="eventDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="px-4 pt-4 d-flex w-100 justify-content-between">
        <h1 class="modal-title" id="eventDetailModalLabel"></h1>
        <button type="button" class="btn-close my-auto" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4">
        <div>
          <i class="bi bi-calendar-event"></i>
          <span class="modal-date"></span>
        </div>
        <div>
          <i class="bi bi-clock"></i>
          <span class="modal-time"></span>
        </div>
        <div>
          <i class="bi bi-pin-map"></i>
          <span class="modal-venue"></span>
        </div>
        <div>
          <i class="bi bi-link-45deg"></i>
          <a class="viewing-Link" href="#"></a>
        </div>
        <div class="mt-4">
          <h4>Invite Code</h4>
          <div class="input-group ps-3 pe-5" onclick="copyClipboard()">
            <input type="text" id="code" class="form-control" placeholder="Recipient's username"
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">
              <i class="bi bi-clipboard2"></i>
            </span>
          </div>

        </div>

        <div class="mt-4">
          <h4>Members (<span id="member-count">14</span>)</h4>
          <div class="modal-members ps-3">
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>