i {
  font-size: 1.5em;
}

.no-event-msg {
  font-size: 1.5em;
}

#invalid-code {
  color: red;
  font-size: 1em;
  display: none;
}

#code {
  color: black;
  font-weight: bold;
}

#copy-success {
  color: green;
  /* display: none; */
  visibility: hidden;
}