.bg-primary {
  background-color: #009bee !important;
  /* color: #22ffb8; */
}

.btn-primary {
  background-color: #187ca9;
  border: #187ca9;
}

.firebaseui-button {
  background-color: #187ca9 !important;
}

.bi-plus-circle {
  color: #12d001;
}

i {
  font-size: 1.5em;
}

.no-event-msg {
  font-size: 1.5em;
}

#invalid-code {
  color: red;
  font-size: 1em;
  display: none;
}

#code {
  color: black;
  font-weight: bold;
}

#copy-success {
  color: green;
  /* display: none; */
  visibility: hidden;
}